@model Product
@{
    ViewData["Title"] = "Edit";
}


<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="fa fa-plus"></i>
            <span class="caption-subject bold uppercase">
                @CommonText.Edit
            </span>
            <span class="caption-helper">

            </span>
        </div>

    </div>
    <div class="portlet-body">

        <form asp-action="Update">
            @Html.Partial("_Form")
            <hr />
            <button type="submit" class="btn green">
                @CommonText.Save
            </button>
            <a asp-action="Index" class="btn red">
                @CommonText.Cancel
            </a>
        </form>
    </div>
</div>