@{
    ViewData["Title"] = "Home Page";

}

<h1 class="page-header">
    @CommonText.Title
</h1>

@if (User.Identity.IsAuthenticated)
{

    <div class="text-center">
        <a asp-controller="PasswordBox" asp-action="Index" class="btn btn-primary">
            Go to your accounts
        </a>
    </div>
}
else
{
    <div class="text-center">
        <p class="lead">
            A secure place to store all your passwords
        </p>
        <a asp-controller="Account" asp-action="Register" class="btn btn-primary">
            Create New Account
        </a>

        or
        <a asp-controller="Account" asp-action="Login" class="btn btn-success">
            Login
        </a>
    </div>
}
