<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active">
            <a asp-controller="PasswordBox" asp-action="Index">My Accounts </a>
        </li>
    </ul>

</div>