@model Vault

<div class="form-group">

    <label class="control-label" asp-for="Username">
        @Html.DisplayNameFor(a => a.Username)
    </label>
    <input type="text" asp-for="Username" class="form-control" />
    <span asp-validation-for="Username"></span>

</div>

<div class="form-group">

    <label class="control-label" asp-for="Password">
        @Html.DisplayNameFor(a => a.Password)
    </label>
    <input type="text" asp-for="Password" class="form-control" />
    <span asp-validation-for="Password"></span>

</div>

<div class="form-group">

    <label class="control-label" asp-for="Website">
        @Html.DisplayNameFor(a => a.Website)
    </label>
    <input type="text" asp-for="Website" class="form-control" />


</div>

<div class="form-group">

    <label class="control-label" asp-for="Note">
        @Html.DisplayNameFor(a => a.Note)
    </label>
    <textarea asp-for="Note" class="form-control" rows="4">

</textarea>


</div>